from typing import List
import pytest


class Solution:
    pass


@pytest.fixture
def solution():
    return Solution()


@pytest.mark.parametrize("", [])
def test_search(solution: Solution):
    pass
